@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");

html {
    font-size: 62.5%;
    color: var(--cor-branca);
    font-weight: 300;
    scroll-behavior: smooth;
  }
  
  body {
    background: linear-gradient(to bottom right, #0c0622, #7e769c) ;
    font-family: var(--fonte-primaria);
    font-size: var(--fonte-normal);
  }

  .container {
    max-width: 1140px;
    margin: auto;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .justify-content-between {
    justify-content: space-between;
  }
  
  .alinhar-itens-no-centro {
    align-items: center;
  }

  .redes-sociais a {
    display: inline-block;
    width: 40px;
    height: 40px;
    font-size: 1.8rem;
    text-align: center;
    color: var(--cor-branca);
    background-color: rgb(11, 3, 19);
    opacity: 0.8;
    margin: 0 4px;
    border-radius: 5px;
    transition: all 0.3s ease;
    
  }
  
  .redes-sociais a i {
    line-height: 40px;
  }
  
  .redes-sociais a:hover {
    color: #3a04af;
    width: 50px;
    height: 50px;
    background-color: rgb(238, 239, 246);
    line-height: 50px;
    font-size: 2.0rem;
    opacity: 1;
    box-shadow: 8px 8px 5px #514074, -2px -2px 3px black;
  }


  .outer-shadow {
    box-shadow: 3px 3px 2px #88799d, -3px -3px 3px #cbc4de;
  }
  
  .inner-shadow {
    box-shadow: inset 3px 3px 3px #04091d, inset -3px -3px 3px #231a1a;
  }

  .section{
    padding: 7rem 0 7rem;
  }
  
  .section-title {
    text-align: center;
    flex: 0 0 100%;
    max-width: 100%;
    padding: 60px 0;
  }
  
  .section-title h2 {
    font-size: var(--fonte-gigante);
    font-weight: 500;
    text-transform: uppercase;
  }
  
  .botao {
    font-size: var(--fonte-grande);
    padding: 10px 20px;
    border-radius: 20px;
    transition: all .3s ease;
    background-color: #1d1830;
  }
  
  .botao:hover {
    background-color: #3a04af;
    color: var(--cor-branca);
    
  }